<div>
  <div class="container-fluid primary-bg padding-50" header></div>

  <div class="container-fluid primary-bg padding-50" total-spendings ng-show="$root.currentUser"></div>

  <div class="container-fluid primary-bg padding-50" spendings-empty-state ng-show="$root.currentUser"></div>

  <div class="container-fluid padding-50" spendings ng-show="$root.currentUser"></div>
  
  <div class="container-fluid primary-bg padding-50" has-login ng-hide="$root.currentUser"></div>

  <div class="container-fluid padding-50" add-spending ng-show="$root.currentUser"></div>
</div>
