<a href="#details" class="btn btn-default" data-toggle="modal" data-target="#spendingDetails">Detalhes</a>

<div class="modal fade" id="spendingDetails" tabindex="-1" role="dialog" aria-labelledby="spendingDetails" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="spendingDetailsLabel">Detalhes do gasto</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item" ng-show="expense.url" ng-hide="!expense.url"><img src="{{expense.url}}" width="540" height="240"></li>
          <li class="list-group-item" ng-show="expense.value" ng-hide="!expense.value">R$ {{expense.value}}</li>
          <li class="list-group-item" ng-show="expense.merchant" ng-hide="!expense.merchant">{{expense.merchant}}</li>
          <li class="list-group-item" ng-show="expense.location" ng-hide="!expense.location">{{expense.location}}</li>
          <li class="list-group-item" ng-show="expense.category" ng-hide="!expense.category">{{expense.category}}</li>
          <li class="list-group-item list-tags-item" ng-show="expense.tags.length" ng-hide="!expense.tags.length">
            <p><span class="badge badge-warning" ng-repeat="tag in expense.tags">{{tag.text}}</span></p>
          </li>
          <li class="list-group-item" ng-show="expense.note" ng-hide="!expense.note">{{expense.note}}</li>
          <li class="list-group-item" ng-show="expense.createdAt" ng-hide="!expense.createdAt">{{expense.createdAt | prettyDate}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <span spending-archive></span>
      </div>
    </div>
  </div>
</div>
